.character-box {
    display: flex;

    justify-content: flex-end;
}

.toggle-btn {
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    color: #6c5ce7;
    background-color: rgba(255, 255, 255, 0.75);
    transition: all 0.3s ease-in-out;
}
.toggle-btn:hover {
    color: #fff;
    background-color: #6c5ce7;
}

.app {
    background: blue url("got.jpg");
    background-size: cover;
    height: 1000px;
}
.pb {
    padding-bottom: 150px;
}
